.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin-reverse infinite 1000s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 80px;
  padding: 20px;
  color: #C33833;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

@keyframes App-logo-spin-reverse {
  from { transform: rotate(-180deg); }
  to { transform: rotate(180deg); }
}
